name: Test
on: [push]

jobs:
    Test-Package:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Bun
              uses: oven-sh/setup-bun@v2.0.1
              with:
                bun-version: latest
            - run: bun i
            - run: bun test